@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to top, black, rgb(32, 32, 32));
}

.full-screen{
    width: auto;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playing-grid{
    background-image: url(images/grid-background.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.cell{
    border: 1px solid black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 133px;
    font-size: 3em;
}
    .cell:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
        background-blend-mode: multiply;
    }
    .cell:active{
        background-color: rgba(0, 0, 0, 0.6);
        background-blend-mode: multiply;
    }

.win-loss{
    background: -webkit-linear-gradient(#eee, rgb(155, 155, 155));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 20px;
}

.main-text{
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-align: center;
    cursor: default;
}

.main-button{
    transition-duration: 200ms;
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 1em;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
}
    .main-button:hover{
        background-color: rgb(24, 24, 24);
        box-shadow: 0px 0px 5px white;
        cursor: pointer;
    }
    .main-button:active{
        background-color: rgb(20, 20, 20);
        box-shadow: 0px 0px 10px white;
    }

.mini-text{
    color: white;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}
    .link{
        color: white;
    }